* {
  background-color: #fcf7ff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #00171f;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00171f;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem 2rem;
  height: 8dvh;
  background-color: #efeef9f9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  width: 10dvh;
  background: transparent;
}

.header nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
  background: transparent;

  .btn {
    padding: 0.8rem;
    border-bottom: 2px transparent solid;
    text-transform: uppercase;
    background: transparent;

    p {
      background: transparent;
      font-size: 14px;
    }

    &.active {
      border-bottom: 3px #0092cc solid;
      font-weight: 700;
    }
  }
}

.portfolio {
  height: 280dvh;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 80px;
    padding: 1rem;
    padding-bottom: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

.pcontainer {
    padding-top: 2rem;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 15px;

}

.pcontainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: .5rem;
}

#contact {
  height: 11dvh;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d7ea;

  .clogo {
    width: 7dvh;
    height: auto;
    background: transparent;
  }

  .socmed {
    background: transparent;
    display: flex;
    gap: 0.5rem;
    a {
      background: transparent;
      img {
        background: transparent;
        width: 4.5dvh;
      }
    }
  }
  .links {
    display: flex;
    gap: 5rem;
    background: transparent;

    a {
      background: transparent;
      p {
        background: transparent;
        font-size: 14px;
        color: #00171f;
      }
    }
  }
}
