* {
  background-color: #fcf7ff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #00171f;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00171f;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem 2rem;
  height: 8dvh;
  background-color: #efeef9f9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  width: 10dvh;
  background: transparent;
}

.header nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
  background: transparent;

  .btn {
    padding: 0.8rem;
    border-bottom: 2px transparent solid;
    text-transform: uppercase;
    background: transparent;

    p {
      background: transparent;
      font-size: 14px;
    }

    &.active {
      border-bottom: 3px #0092cc solid;
      font-weight: 700;
    }
  }
}

.between-image {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 2;
  width: 160dvh;
  overflow: hidden;
  background: transparent;
}

.hero {
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  margin: 6.3rem 1rem;
  position: relative;

  h1 {
    font-size: 40dvh;
    font-weight: 800;
    line-height: 0.8;
    text-transform: uppercase;
  }

  h2 {
    padding: 1rem 1.2rem;
    font-size: 39dvh;
    font-weight: 800;
    line-height: 0.7;
    text-transform: uppercase;
  }
}

.hbtn {
  display: flex;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 1.2rem 1.5rem;
  background-color: #0092cc;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  p {
    padding-right: 1rem;
    background: transparent;
    color: #fcf7ff;
    font-weight: 600;
    font-size: 3dvh;
  }
}

#abtme {
  height: 60dvh;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  padding-top: 4rem;
  padding-left: 10rem;
  background: #00171f;
  position: relative;
}

.abttxt {
  display: flex;
  flex-direction: column;
  background: transparent;

  h3 {
    color: #fcf7ff;
    background: transparent;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
  }

  h4 {
    color: #fcf7ff;
    background: transparent;
    font-size: 35px;
  }

  p {
    color: #fcf7ff;
    background: transparent;
    padding-top: 1rem;
    font-size: 14px;
  }
}

.flow {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90dvh;
  background-color: #00171f;
  h2 {
    text-transform: uppercase;
    color: #fcf7ff;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 400;
    font-size: 150px;
  }

  img {
    width: 150dvh;
    justify-content: center;
    background: transparent;
  }
}

.pcontainer {
  width: 150dvh;
  background: transparent;
  color: #fcf7ff;
  overflow-wrap: break-word;

  p {
    background: transparent;
    color: #fcf7ff;
    font-size: 14px;
  }
}

.services {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #00171f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  img {
    height: 10dvh;
    width: auto;
  }
}

#rworks {
  height: 100dvh;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 4rem;

  h3 {
    padding: 1rem 2.5rem;
    width: fit-content;
    border-radius: 70px;
    font-size: 30px;
    text-transform: uppercase;
    align-items: center;
    border: transparent;
    background-color: #00171f;
    color: #fcf7ff;
  }

  .pbutton {
    display: flex;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 1.8rem 6.3rem;
    background-color: #0092cc;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    p {
      padding-right: 1rem;
      background: transparent;
      color: #fcf7ff;
      font-weight: 600;
      font-size: 3dvh;
    }
  }
}

.rwork-img {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  img {
    height: 70dvh;
  }
}

#contact {
  height: 11dvh;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d7ea;

  .clogo {
    width: 7dvh;
    height: auto;
    background: transparent;
  }

  .socmed {
    background: transparent;
    display: flex;
    gap: 0.5rem;
    a {
      background: transparent;
      img {
        background: transparent;
        width: 4.5dvh;
      }
    }
  }
  .links {
    display: flex;
    gap: 5rem;
    background: transparent;

    a {
      background: transparent;
      p {
        background: transparent;
        font-size: 14px;
        color: #00171f;
      }
    }
  }
}
